<div class="jumbotron">
    <h1>FBRU - API</h1>
    <p class="lead">FBRU - API is an free service help developer can get data from us to develop their app</p>
    <p>Almost system on our website are worked!</p>
</div>