<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/23551e2a-bb0a-453d-b462-a7296ec1fff0/resourcegroups/FBru/providers/Microsoft.Web/sites/FBruWebAPI</ResourceId>
    <ResourceGroup>FBru</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fbruwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fbruwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FBruWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FBruWebAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FBruConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fbrudbserver.database.windows.net,1433;Initial Catalog=FBru;User ID=ducmeit2017@fbrudbserver;Password=Ducpro12345#$" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=FBru;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FBruConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=localhost;initial catalog=FBru;integrated security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FBruConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fbrudbserver.database.windows.net,1433;Initial Catalog=FBru;User ID=ducmeit2017@fbrudbserver;Password=Ducpro12345#$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>