div.dt-autofill-handle {
    background: #008CBA;
    border: 1px solid #008CBA;
    box-sizing: border-box;
    height: 8px;
    position: absolute;
    width: 8px;
    z-index: 102;
}

div.dt-autofill-select {
    background-color: #008CBA;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.5) 10px);
    position: absolute;
    z-index: 1001;
}

div.dt-autofill-select.top, div.dt-autofill-select.bottom {
    height: 3px;
    margin-top: -1px;
}

div.dt-autofill-select.left, div.dt-autofill-select.right {
    margin-left: -1px;
    width: 3px;
}

div.dt-autofill-list {
    background-color: white;
    border: 2px solid #444;
    border-radius: 6px;
    box-shadow: 0 0 5px #555;
    box-sizing: border-box;
    left: 50%;
    margin-left: -250px;
    padding: 1.5em 2em;
    position: fixed;
    top: 50%;
    width: 500px;
    z-index: 11;
}

div.dt-autofill-list ul {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.dt-autofill-list ul li { display: table-row; }

div.dt-autofill-list ul li:last-child div.dt-autofill-question, div.dt-autofill-list ul li:last-child div.dt-autofill-button { border-bottom: none; }

div.dt-autofill-list ul li:hover { background-color: #f6f6f6; }

div.dt-autofill-list div.dt-autofill-question {
    border-bottom: 1px solid #ccc;
    display: table-cell;
    padding: 0.5em 0;
}

div.dt-autofill-list div.dt-autofill-question input[type=number] {
    margin: -2px 0;
    padding: 6px;
    width: 30px;
}

div.dt-autofill-list div.dt-autofill-button {
    border-bottom: 1px solid #ccc;
    display: table-cell;
    padding: 0.5em 0;
}

div.dt-autofill-background {
    background: rgba(0, 0, 0, 0.7);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

div.dt-autofill-list button { margin: 0; }