/*
 * Styling for DataTables with Semantic UI
 */
table.dataTable.table { margin: 0; }

table.dataTable.table thead th,
table.dataTable.table thead td { position: relative; }

table.dataTable.table thead th.sorting, table.dataTable.table thead th.sorting_asc, table.dataTable.table thead th.sorting_desc,
table.dataTable.table thead td.sorting,
table.dataTable.table thead td.sorting_asc,
table.dataTable.table thead td.sorting_desc { padding-right: 20px; }

table.dataTable.table thead th.sorting:after, table.dataTable.table thead th.sorting_asc:after, table.dataTable.table thead th.sorting_desc:after,
table.dataTable.table thead td.sorting:after,
table.dataTable.table thead td.sorting_asc:after,
table.dataTable.table thead td.sorting_desc:after {
    display: block;
    font-family: Icons;
    position: absolute;
    right: 8px;
    top: 12px;
}

table.dataTable.table thead th.sorting:after,
table.dataTable.table thead td.sorting:after {
    color: #ddd;
    content: "\f0dc";
    font-size: 0.8em;
}

table.dataTable.table thead th.sorting_asc:after,
table.dataTable.table thead td.sorting_asc:after { content: "\f0de"; }

table.dataTable.table thead th.sorting_desc:after,
table.dataTable.table thead td.sorting_desc:after { content: "\f0dd"; }

table.dataTable.table td,
table.dataTable.table th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

table.dataTable.table td.dataTables_empty,
table.dataTable.table th.dataTables_empty { text-align: center; }

table.dataTable.table.nowrap th,
table.dataTable.table.nowrap td { white-space: nowrap; }

div.dataTables_wrapper div.dataTables_length select {
    min-height: 2.7142em;
    vertical-align: middle;
}

div.dataTables_wrapper div.dataTables_length .ui.selection.dropdown { min-width: 0; }

div.dataTables_wrapper div.dataTables_filter input { margin-left: 0.5em; }

div.dataTables_wrapper div.dataTables_info {
    padding-top: 13px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_processing {
    left: 50%;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
}

div.dataTables_wrapper div.row.dt-table { padding: 0; }

div.dataTables_wrapper div.dataTables_scrollHead table.dataTable {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_wrapper div.dataTables_scrollBody thead .sorting:after,
div.dataTables_wrapper div.dataTables_scrollBody thead .sorting_asc:after,
div.dataTables_wrapper div.dataTables_scrollBody thead .sorting_desc:after { display: none; }

div.dataTables_wrapper div.dataTables_scrollBody table.dataTable {
    border-bottom-width: 0;
    border-radius: 0;
    border-top: none;
}

div.dataTables_wrapper div.dataTables_scrollBody table.dataTable.no-footer { border-bottom-width: 1px; }

div.dataTables_wrapper div.dataTables_scrollFoot table.dataTable {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}