table.dataTable {
    clear: both;
    margin-bottom: 6px !important;
    margin-top: 6px !important;
    max-width: none !important;
}

table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty { text-align: center; }

table.dataTable.nowrap th,
table.dataTable.nowrap td { white-space: nowrap; }

div.dataTables_wrapper div.row.uk-grid.dt-merge-grid { margin-top: 5px; }

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
    display: inline-block;
    width: 75px;
}

div.dataTables_wrapper div.dataTables_filter { text-align: right; }

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_filter input {
    display: inline-block;
    margin-left: 0.5em;
    width: auto;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    text-align: right;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_processing {
    left: 50%;
    margin-left: -100px;
    margin-top: -26px;
    padding: 1em 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
}

table.dataTable thead > tr > th,
table.dataTable thead > tr > td { position: relative; }

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting { padding-right: 30px; }

table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after {
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    right: 8px;
    top: 7px;
}

table.dataTable thead > tr > th.sorting:after,
table.dataTable thead > tr > td.sorting:after {
    color: #ddd;
    content: "\f0dc";
    font-size: 0.8em;
    padding-top: 0.12em;
}

table.dataTable thead > tr > th.sorting_asc:after,
table.dataTable thead > tr > td.sorting_asc:after { content: "\f0de"; }

table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_desc:after { content: "\f0dd"; }

div.dataTables_scrollHead table.dataTable { margin-bottom: 0 !important; }

div.dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after { display: none; }

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td { border-top: none; }

div.dataTables_scrollFoot table {
    border-top: none;
    margin-top: 0 !important;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate { text-align: center; }
}

table.dataTable.uk-table-condensed > thead > tr > th { padding-right: 20px; }

table.dataTable.uk-table-condensed .sorting:after,
table.dataTable.uk-table-condensed .sorting_asc:after,
table.dataTable.uk-table-condensed .sorting_desc:after {
    right: 6px;
    top: 6px;
}